html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  color: rgb(0, 0, 0);
}

.notes__hotpink-header {
  color: hotpink;
}

a {
  color: #8bdd20;
}

nav a {
  color: #bd3f3f;
}

.top {
  color: #6e1959;
}

.tomato-header {
  color: tomato;
}

.inline {
  background: red;
  display: inline;
}

.top-2 {
  width: 600px;
  height: 400px;
}

.image-ania {
  position: relative;
  height: 100%;
  width: 270px;
}

.about__picture {
  height: 100%;
}

.navigation {
  background: #88cc5a;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: #000;
}

.week-summary {
  padding: 16px;
  border: 1px #ccc solid;
  margin-bottom: 16px;
}

.week-summary--special {
  border: 1px rgb(201, 60, 126) solid;
}

.week-summary__description {
  color: #88cc5a;
}

.week-summary__description--details {
  color: gray;
}

.week-summary__title {
  color: #6e1959;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  margin: 0 auto;
  max-width: 1000px;
}

.footer__link {
  color: hotpink;
}

.button {
  display: block;
  border: 2px rgb(0, 0, 0) solid;
  background-color: #fff;
  color: #000000;
  text-align: center;
  padding: 10px 50px;
  border-radius: 0%;
  font-size: 0.85rem;
  margin: 16px auto;
}

.list {
  list-style: square;
}

.table {
  width: 100%;
}



.grid {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5px;
}

.grid__element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid__element--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid__element--2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid__element--3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid__element--4 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  
}