body {
    background: #fefefe;
    color: rgb(0, 0, 0);
}

.hotpink-header {
    color: hotpink;
}
    
a {
    color: #8bdd20;
}
 
nav a {
    color: #bd3f3f;
}

.top {
    color: #6e1959
}

.tomato-header {
    color: tomato;
}

.inline {
    background: red;
    display: inline;
}

.top-2 {    
    width: 600px;
    height: 400px;
}
.image-ania{
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 270px;
}

.narz{
    height: 100%;
}

.navigation {
    background: #88cc5a;
    padding: 16px;
    border-radius: 8px;
}

.navigation__link{
    color: #fff;
    display: inline-block;
    margin-right: 20px;
}

.navigation__link--homepage{
    background: yellow;
    color: #000
}